body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  direction: rtl;
  height: 100%;
  width: 100vw;
}

header {
  text-align: center;
}

#currentLocationBtn {
  position: static;
  align-self: center;
}
